body {
  background: rgb(126, 121, 121);
  font-family: roboto!important;
}
/* Set cSize and containers, signs-figures and text will scale in preportion to each other vw px work! */
:root {
  --cSize: 20vw;
  --signFontSize: calc(var(--cSize) / 6);
}
/* Debug mode */
/* * {
  background: rgba(128, 0, 128, 0.486)!important;
  border: 2px solid rgba(0, 128, 0, 0.527)!important;
 } */
.sign-grid * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.sign-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  width: calc(var(--cSize) * 3);
  margin: auto;
}
.sign-container {
    border: 2px solid black
}
.sign{
  width: var(--cSize);
  height: var(--cSize);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign-caption {
  background: white;
  width: 100%;
  height: calc(var(--cSize) / 1);
  padding: calc(var(--cSize) * 4 / 100);
}

.sign-caption-text {
  margin: 0;
  font-size: calc(var( --signFontSize)/2);
  display: none;
}
.display {
  display: block;
}
.circle {
  width: calc(var(--cSize) / 2);
  height: calc(var(--cSize) / 2);
  border-radius: 50%;
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.octagon div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: calc(var(--cSize) / 2);
  height: calc(var(--cSize) / 2);
  color: white;
  font-weight: 500;
}

.octagon div,
.octagon div > div > div,
.octagon div > div > div > div > div {
  background: transparent;
}

.red-octagon div > div,
.red-octagon div > div > div > div > div > div {
  background: red;
}
.red-octagon div > div > div > div {
  background: white;
}

.yellow-octagon div > div,
.yellow-octagon div > div > div > div > div > div {
  color: black;
  background: yellow;
}
.yellow-octagon div > div > div > div {
  background: black;
}
.octagon div > div,
.octagon div > div > div > div,
.octagon div > div > div > div > div > div {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.octagon div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--cSize) / 2.06);
  height: calc(var(--cSize) / 2.06);
}
.octagon div > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--cSize) / 2.1999);
  height: calc(var(--cSize) / 2.1999);
}
.octagon div p {
  font-size: var(--signFontSize);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
.red-square {
  background: red;
  padding: 0 3%;
  color: white;
  text-align: center;
  border: calc(var(--cSize) * 1 / 100) solid white;
  outline: calc(var(--cSize) * 1 / 100) solid red;
  font-size: calc(var(--signFontSize) / 1.5);
}
.triangle-red {
  width: 0;
  height: 0;
  border-left: calc(var(--cSize) * 40 / 100) solid transparent;
  border-right: calc(var(--cSize) * 40 / 100) solid transparent;
  border-top: calc(var(--cSize) * 60 / 100) solid red;
}
.triangle-white {
  position: relative;
  width: 0;
  height: 0;
  border-left: calc(var(--cSize) * 30 / 100) solid transparent;
  border-right: calc(var(--cSize) * 30 / 100) solid transparent;
  border-top: calc(var(--cSize) * 45 / 100) solid white;
  bottom: calc(var(--cSize) * 55 / 100);
  right: calc(var(--cSize) * 30 / 100);
}
.blue {
  background: blue;
  outline: calc(var(--cSize) / 100) solid blue;
  border: calc(var(--cSize) / 80) solid white;
}

.red {
  background: red;
  outline: calc(var(--cSize) / 100) solid red;
}
.white p {
  color:black;
}
.white {
  background: white;
  border: calc(var(--cSize) / 40) solid red;
}

.yellow {
  background: yellow;
  border: calc(var(--cSize) / 40) solid red;
}

.sign-text-white {
  color: white;
  font-size: var(--signFontSize);
  font-weight: 600;
  letter-spacing: 0.0000001rem;
}

.sign-text-black {
  color: black;
  font-size: var(--signFontSize);
  font-weight: 600;
  letter-spacing: 0.0000001rem;
}
.white-rec {
  height: 17%;
  width: 70%;
  background: white;
}
.red-cross::before,
.red-cross::after {
  content: "";
  display: block;
  background: red;
  position: relative;
  border-radius: 5px;
  width: calc(var(--cSize) / 35);
  height: calc(var(--cSize) / 2.15);
}
.red-cross::after {
  transform: rotate(-45deg);
  right: 30%;
}

.red-cross::before {
  transform: rotate(45deg);
  left: 30%;
}

/* ============================Arrows================================= */
.arrow-body {
  background-color: white;
  height: calc(var(--cSize) / 16);
  width: calc(var(--cSize) / 2.9);
  margin-left: 15%;
}

.arrow-body:after {
  content: "";
  display: inline-block;
  position: relative;
  border-color: transparent;
  border-style: solid;
  right: calc(var(--cSize) / 5 );
  bottom: calc(var(--cSize) / 9 );
  border-width: calc(var(--cSize) / 7);
  border-bottom-color: white;
  transform: rotate(-90deg);
}

/* ==================One way Signs======================= */

.req {
  width: calc(var(--cSize) / 1.9);
  height: calc(var(--cSize) / 2.7);
}

.one-way {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-way > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--cSize) / 2);
  height: calc(var(--cSize) / 2.9);
  outline: calc(var(--cSize) * 1 / 100) solid white;
  border-radius: calc(var(--cSize) * 2 / 100);
}

.one-way-up {
  rotate: 90deg;
}

.one-way-right {
  rotate: 180deg;
}
