body {
  background: rgb(126, 121, 121);
  font-family: roboto;
}
/* Set cSize and containers, signs-figures and text will scale in preportion to each other vw px work! */
:root {
  --cSize: 20vw;
  --signFontSize: calc(var(--cSize)/6);
}
 
.sign-grid   * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.sign-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: calc(var(--cSize) * 3.2);
  margin: auto;
}

.sign-container {
  width: var(--cSize);
  height: var(--cSize);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}

.sign-caption {
  display: none;
  margin: calc(var(--cSize)/20);
  line-height: calc(var(--cSize)/16);
  text-align: center;
  text-transform: capitalize;
}
.display {
  display: block;
}
.circle {
  width: calc(var(--cSize)/2);
  height: calc(var(--cSize)/2);
  border-radius: var(--cSize);
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.octagon div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: calc(var(--cSize)/2);
  height: calc(var(--cSize)/2);
  color: white;
  font-weight: 500;
}

.octagon div,
.octagon div > div > div,
.octagon div > div > div > div > div {
  background: transparent;
}

.octagon div > div,
.octagon div > div > div > div > div > div {
  background: red;
}
.octagon div > div > div > div {
  background: white;
}
.octagon div > div,
.octagon div > div > div > div,
.octagon div > div > div > div > div > div {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.octagon div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--cSize)/2.07);
  height: calc(var(--cSize)/2.07);
}
.octagon div > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--cSize)/2.15);
  height: calc(var(--cSize)/2.15);
}
.octagon div p {
  font-size: var(--signFontSize);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 50px solid red;
}
.triangle::before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid white;
  top: -44px;
  left: -20px;
}
.blue {
  background: blue;
  outline: calc(var(--cSize)/100) solid blue;
  border: calc(var(--cSize)/80) solid white;
}

.red {
  background: red;
  outline: calc(var(--cSize)/100) solid red;
}

.white {
  background: white;
  border: calc(var(--cSize)/40) solid red;
}

.yellow {
  background: yellow;
  border: calc(var(--cSize)/40) solid red;
}

.sign-text-white {
  color: white;
  font-size: var(--signFontSize);
  font-weight: 600;
  letter-spacing: 0.0000001rem;
}

.sign-text-black {
  color: black;
  font-size: var(--signFontSize);
  font-weight: 600;
  letter-spacing: 0.0000001rem;
}
.white-rec {
  height: 17%;
  width: 70%;
  background: white;
}
.red-cross::before, .red-cross::after {
  content: "";
  display: block;
  background: red;
  position: relative;
  border-radius: 5px;
  width: calc(var(--cSize)/35);
  height: calc(var(--cSize)/2.15);
}
.red-cross::after {
  transform: rotate(-45deg);
  right: 30%;
}

.red-cross::before {
  transform: rotate(45deg);
  left: 30%;
}

/* ============================Arrows================================= */

.arrow {
  width: calc(var(--cSize)/11);
  height: calc(var(--cSize)/11);
  position: relative;
  display: inline-block;
  margin: 10px 10px;
}
.arrow:before, .arrow:after {
  content: "";
  border-color: transparent;
  border-style: solid;
  position: absolute;
}

.arrow-up:before {
  border: none;
  background-color: #555;
  height: calc(var(--cSize)/11);
  width: calc(var(--cSize)/11);
  top: 150%;
  left: 45%;
}

.arrow-up:after {
  left: 0;
  top: -50%;
  border-width: calc(var(--cSize)/11) calc(var(--cSize)/11);
  border-bottom-color: #555;
}